/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    width:100%;
    height: 100px;
    background-color: teal;
}
.circle{
    background-color: white;
    width:70px;
    height:70px;
    border-radius: 50%;
    position: relative;
}
.text-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* common */
img{
    width: 100%;
}
.shoes-model{
    width:100%;
    height:100vh;
    position: relative;
}

   
/* background section */
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
/* center fix */
.shoes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* text settings */
.shoes-text{
    font-family:"Rubik Mono One" , Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

}
.contrast{
    color:green;
}

