/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Rubik Mono One" , Arial, Helvetica, sans-serif;
}

/* common */
img{
    width: 100%;
}
.shoes-model{
    width:100%;
    height:100vh;
    position: relative;
}
ul{
    position: fixed;
    top:40px;
    right:40px;
    z-index: 1;
}

/* ul settings */
.circle{
    display: inline-block;
    margin: 10px 5px;
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(161, 161, 161, 0.4);
}
.text-circle{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* background section */
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}

/* center fix */
.shoes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* text settings */
.shoes-text{
    color: yellow;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.contrast{
    color:green;
}

